.btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .btn-wrap-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    /* min-height: 100px; */
    background: #00000010;
} 

.container {
    height: 100%;
    /* overflow: hidden; */
    background: radial-gradient(ellipse at bottom, #60C5FE 0%, #2D9CDB 60%);
}

.container-height-auto {
    min-height: 100%;
    height: 100%;
    widows: 100%;
    background: radial-gradient(ellipse at bottom, #60C5FE 0%, #2D9CDB 60%);
}

/*@media (max-width: 600px) {*/
/*    .container-items {*/
/*        height: 100%;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*}*/
.container-items {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    /* position: inherit; */
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

/*.bg-img{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    height: 100%;*/
/*    background-image: url("./img/bg.svg");*/
/*    background-repeat: no-repeat;*/
/*    background-position: bottom;*/
/*}*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
/* @media screen and (min-width: 600px) {
    .home {
        margin-right: 2500px;        
    }
} */

/* @media screen and (min-width: 600px){
    .home {
        margin-right: 200px;
    }
} */

@media screen and (min-width: 600px){
    .home {
        margin-left: 51px;        
    }
}

.home {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.bg-blue {
    background: var(--dynamic_blue);
}

.bg-gray {
    background: var(--panel_tab_active_background);
}

.block-items {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-white {
    margin: 4px 10px;
    background: #279FD8;
    width: 200px;
    border-radius: 15px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-back {
    border: none;
    background: transparent;
    color: #fff;
}
 .btn-white:hover {
    /* background: rgba(0,0,0,0); */
    color: #000000;
    opacity: 0.7;
} 

.btn-primary {
    margin: 4px 10px;
    background: #279FD8;
    width: 200px;
    border-radius: 15px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-primary:hover {
    /* background: rgba(0,0,0,0); */
    color: #000000;
    opacity: 0.7;
} 

/* @media screen and (min-height: 550px){
    .gallery {
        height: auto;
    }
}

@media screen and (max-height: 550px){
    .gallery {
        overflow: hidden;
        height: 200px;
    }
}

@media screen and (max-height: 400px){
    .gallery {
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
} */
.gallery {
    /* height: auto; */
    overflow: hidden;
    height: 100%;
    width: 100%;
} 

.Gallery__slide {
    /* height: auto; */
    height: 100%;
}

.svg-image {
    background-image: url(./img/91.svg);
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: -1;
    }

.img-wrap {
    /* margin-top: 10px; */
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
    /* background-color: #000;  */

    /* background-image: url(./img/91.svg);
    background-repeat: no-repeat; */

}

/* @media screen and (min-height: 550px){
    .img-search {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-height: 550px){
    .img-search {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-height: 420px){
    .img-search {
        width: 100px;
        height: 100px;
    }
} */

.img-search {
    /* margin: 40px; */
    width: 150px;
    height: 200px;
}

.img-product {
    /* margin: auto; */
    height: 100%;
    border-radius: 15px;
    /* display: flex; */
    /* justify-content: center; */
    /* background-color: #000;  */
}

/* @media (max-width: 1024px) {
    .img-product {
        width: 500px;
    }
} */

/*@media (max-width: 1024px) {*/
/*    .img-product {*/
/*        width: 500px;*/
/*    }*/
/*}*/


/* @media (max-width: 600px) {
    .img-product {
        /*max-height: 400px;
        /*width: 400px;
    }
} */



@media screen and (max-width: 600px) {
    .header {
        /* position: absolute; */
        width: auto;
        height: 99px;
        left: 0px;
        top: 24px;
        background: linear-gradient(270deg, #279FD8 0%, #40A9DC 100%);
        /* box-shadow: 0px 4px 4px rgba(0, 5, 7, 0.2); */
    }
}

@media screen and (min-width: 600px) {
    .header {
        /* position: absolute; */
        margin-top: 20px;
        width: 600px;
        /* height: 83px; */
        left: 0px;
        top: 27px;
        border-radius: 0px 35px 35px 0px;
        
        background: linear-gradient(90deg, #279FD8 0%, #40A9DC 101.91%);
        border-radius: 0px 35px 35px 0px;
    }
}

.header {
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #279FD8 0%, #40A9DC 100%);
    /* background: #1792DA; изменил цвет*/
}

@media screen and (min-width: 600px) {
    .header-title {
    font-size: 30px;
    line-height: 35px;
    }
}

@media screen and (max-width: 600px) {
    .header-title {
    font-size: 20px;
    line-height: 23px;
    }
}

.header-title {
    margin: auto;
    font-family: Inconsolata, sans-serif;
    font-style: normal;
    font-weight: bold;
    /* font-size: 20px;
    line-height: 23px; */
    text-align: center;
    color: #FFFFFF;
}

.panel {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.PanelHeader {
    display: none;
}

@media screen and (min-width: 600px) {
    .title {
    font-size: 45px;
    line-height: 47px;
    }
}

@media screen and (max-width: 600px) {
    .title {
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    }
}

.title {
    font-family: Inconsolata, sans-serif;
    font-style: normal;
    font-weight: bold;
    /* text-align: center; */
    color: #0176BE;
}

@media screen and (min-width: 600px) {
    .text {
    font-size: 20px;
    line-height: 23px;
    
    }
}

@media screen and (max-width: 600px) {
    .text {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    }
}

.text {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    /* text-align: center; */
    color: #06699B;
}

@media screen and (max-width: 600px) {
    .homeBtn {
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    .homeBtn {
        align-items: center;
    }
}

/* .homeBtn {
    align-items: center; 
} */

/* .arrow {
    margin: 20px;
} */


.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-wrap {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

/*@media (max-width: 600px) {*/
/*    .slider-wrap {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/
/*}*/

.slider-gallery {
    /* flex: 1; */
    display: flex;
    width: 100%;
    /* min-width: 360px; */
    height: 100%;
}

.slider-btn {
    width: auto;
    padding: 30px 0;
    color: #fff;
}

.slider-btn {
    position: fixed;
    z-index: 1;
    top: 50%;
}

.slider-btn-right {
    right: 0;
}

.slider-btn-left {
    left: 10px;
}

/*@media (max-width: 600px) {*/
/*    .slider-btn {*/
/*        position: fixed;*/
/*        z-index: 1;*/
/*        top: 50%;*/
/*    }*/

   /* .slider-btn-right { */
/*        right: 0;*/
/*    }*/

/*    .slider-btn-left {*/
/*        left: 10px;*/
/*    }*/
/*}*/

.error {
    color: red;
}
@media screen and (max-width: 600px) {
  .wrapper {
    background-image: url("./img/screen_mobile.svg");
    justify-content: center;
    } 
}

@media screen and (min-width: 600px){
    .wrapper {
        background-image: url("./img/Background.svg");
    }
}


.wrapper {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.styleButtons {
    overflow: auto;
    flex-direction: column;
    display: flex;
    height: 74vh;
    justify-content: end;
      
}

@media screen and (min-width: 600px){
.styleButtons::-webkit-scrollbar {
    overflow: auto;
    display: none;  /* WebKit */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
}