.btn-wrap {
    display: flex;
    flex-direction: column;
}

.btn-wrap-items {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: #00000010;
}

.container {
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #60C5FE 0%, #2D9CDB 60%);
}

.container-height-auto {
    min-height: 100%;
    height: auto;
    background: radial-gradient(ellipse at bottom, #60C5FE 0%, #2D9CDB 60%);

}

/*@media (max-width: 600px) {*/
/*    .container-items {*/
/*        height: 100%;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*}*/
.container-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.bg-img{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    height: 100%;*/
/*    background-image: url("./img/bg.svg");*/
/*    background-repeat: no-repeat;*/
/*    background-position: bottom;*/
/*}*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-blue {
    background: var(--dynamic_blue);
}

.bg-gray {
    background: var(--panel_tab_active_background);
}

.block-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-white {
    margin: 4px 10px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.btn-back {
    border: none;
    background: transparent;
    color: #fff;
}

.btn-primary {
    margin: 4px 10px;
    background: #1792DA;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    border-color: #ffffff42;
}

.gallery {
    height: 100%;
}

.Gallery__slide {
    height: auto;
}

.img-wrap {
    /*    margin: auto;*/
    height: 100%;
}

.img-search {
    margin: 40px;
}

.img-product {
    width: auto;
    height: 100%;
}

@media (max-width: 1024px) {
    .img-product {
        /*width: 500px;*/
    }
}

/*@media (max-width: 1024px) {*/
/*    .img-product {*/
/*        width: 500px;*/
/*    }*/
/*}*/


@media (max-width: 600px) {
    .img-product {
        /*max-height: 400px;*/
        /*width: 400px;*/
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1792DA;
    min-height: 50px;
}

@media (max-width: 600px) {
    .header {
        height: 110px;
    }
}

.header-title {
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.panel {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.PanelHeader {
    display: none;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
}

.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.arrow {
    margin: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*@media (max-height: 850px) {*/
/*    .product {*/
/*        max-height: 678px;*/
/*    }*/
/*}*/

/*@media (max-height: 750px) {*/
/*    .product {*/
/*        max-height: 530px;*/
/*    }*/
/*}*/

/*@media (max-height: 650px) {*/
/*    .product {*/
/*        max-height: 430px;*/
/*    }*/
/*}*/

/*@media (max-height: 550px) {*/
/*    .product {*/
/*        max-height: 330px;*/
/*    }*/
/*}*/

/*@media (max-height: 450px) {*/
/*    .product {*/
/*        max-height: 230px;*/
/*    }*/
/*}*/

.slider-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/*@media (max-width: 600px) {*/
/*    .slider-wrap {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/
/*}*/

.slider-gallery {
    flex: 1;
    display: block;
    width: 100%;
    min-width: 360px;
    height: 100%;
}

.slider-btn {
    width: auto;
    padding: 30px 0;
    color: #fff;

}

.slider-btn {
    position: fixed;
    z-index: 1;
    top: 50%;
}

.slider-btn-right {
    right: 0;
}

.slider-btn-left {
    left: 10px;
}

/*@media (max-width: 600px) {*/
/*    .slider-btn {*/
/*        position: fixed;*/
/*        z-index: 1;*/
/*        top: 50%;*/
/*    }*/

/*    .slider-btn-right {*/
/*        right: 0;*/
/*    }*/

/*    .slider-btn-left {*/
/*        left: 10px;*/
/*    }*/
/*}*/

.error {
    color: red;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("./img/bg.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}