.container {
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.bg-blue {
    background: var(--dynamic_blue);
}

.bg-gray {
    background: var(--panel_tab_active_background);
}

.btn-white {
    background: var(--button_primary_foreground);
    margin: 10px;
}

.btn-primary {
    background: var(--button_primary_background);
    margin: 10px;
    color: var(--button_primary_foreground)
}

.slider-wrap{
    display: flex;
}

.slider-gallery {
    flex: 1;
    display: block;
    width: 100%;
    min-width: 360px;
}

.slider-btn{
    max-width: 20px;
}

.gallery{
    height: auto;
}

.img-product{
}